<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
    <form>   
        <label>Seleciona el tipo de tarjeta</label>
        <select v-model="cardType"> 
             <option value="DEBITO">Debito</option>
             <option value="CREDITO">Credito</option>
        </select>



        <label>Seleccione el color de la tarjeta</label>
        <select v-model="cardColor">
             <option value="GOLD">Gold</option>
             <option value="SILVER">Silver</option>
             <option value="TITANIUM">Titanium</option>
        </select>

        <button type="button" class="btn-black"  v-show="cardColorFilter.length < 6" v-on:click="createCard()">Confirmar</button>
   </form>

</div>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/create-cards.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>
</html>